@charset "UTF-8";
/*Обнуление*/
@import url("/css/nullstyle.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body {
  position: relative;
  width: 1440px;
  height: 5849px;
  font-family: "Roboto", sans-serif;
  background: #FFFFFF;
}

.header__body {
  width: 1865px;
  background-color: #3D5DDB;
  padding-bottom: 36px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header__menu {
  padding-top: 34px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__menu li span {
  margin-right: 24px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  font-weight: 300;
  transition: 0.3s;
  border-bottom: 2.5px solid #3D5DDB;
}
.header__menu li span:hover {
  border-bottom: 2.5px solid #FFFFFF;
  transition: 0.3s;
  padding-bottom: 5px;
}
.header__menu img {
  transition: 0.3s;
  border-bottom: 2.5px solid #3D5DDB;
  padding-bottom: 5px;
}
.header__menu img:hover {
  border-bottom: 2.5px solid #FFFFFF;
  transition: 0.3s;
}
.discover {
  width: 1865px;
  background-color: #3D5DDB;
  color: #FFFFFF;
  height: 849px;
}
.discover__title {
  padding-top: 122px;
  margin-left: 150px;
  margin-bottom: 42px;
  font-size: 85px;
  font-weight: 700;
  line-height: 104%;
  color: #fff;
}
.discover__subtitle {
  margin-left: 150px;
  margin-bottom: 42px;
  font-size: 18px;
  line-height: 168%;
  color: #fff;
  width: 393px;
}
.discover__button {
  margin-left: 150px;
}
.discover__button:hover {
  transition: 0.3s;
  background-color: #FFFFFF;
}
.discover__button:hover span {
  transition: 0.3s;
  color: #171717;
}
.discover__image {
  transform: translate(1100px, -750px);
}

.experience__body {
  margin-left: 150px;
}
.experience__body-up {
  display: flex;
  margin-top: 173px;
  margin-bottom: 130px;
}
.experience__body-up-right {
  margin-top: 73px;
  margin-left: 298px;
}
.experience__title {
  margin-bottom: 35px;
  font-size: 70px;
  font-weight: 700;
  line-height: 106%;
  color: #171717;
}
.experience__subtitle {
  margin-bottom: 38px;
  font-size: 18px;
  line-height: 168%;
  color: #171717;
  width: 487px;
}
.experience__button:hover {
  transition: 0.3s;
  background-color: #3D5DDB;
}
.experience__video-body {
  width: 1439px;
  height: 827px;
  background-color: rgba(23, 23, 23, 0.05);
  background: url("/img/bg1.png") no-repeat;
}
.experience__video-button {
  transition: 0.3s;
  width: 165px;
  height: 165px;
  text-align: center;
  transform: translate(654px, 345px);
}
.experience__video-button .arrowbg {
  transition: 0.3s;
}
.experience__video-button .arrow {
  transition: 0.3s;
  transform: translate(5px, -105px);
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(202deg) brightness(103%) contrast(101%);
}
.experience__video-button:hover {
  transition: 0.3s;
}
.experience__video-button:hover .arrowbg {
  transition: 0.3s;
  filter: invert(36%) sepia(94%) saturate(3347%) hue-rotate(220deg) brightness(88%) contrast(94%);
}
.experience__video-button:hover .arrow {
  transition: 0.3s;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(117deg) brightness(104%) contrast(104%);
}
.experience__video-button:active .arrowbg {
  transition: 0.3s;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(117deg) brightness(104%) contrast(104%);
}
.experience__video-button:active .arrow {
  transition: 0.3s;
  filter: none;
}

.feature {
  margin-top: 110px;
}
.feature__body {
  margin-left: 150px;
}
.feature__title {
  margin-left: 70px;
  margin-bottom: 56px;
  font-size: 70px;
  font-weight: 700;
  line-height: 106%;
  color: #171717;
  transition: 0.3s;
}
.feature__columns {
  text-align: center;
  width: 1500px;
  display: flex;
  justify-content: space-around;
  transition: 0.3s;
}
.feature__lists {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}
.feature__name {
  text-align: left;
  margin-top: 32px;
  margin-bottom: 18px;
  font-size: 32px;
  font-weight: 700;
  line-height: 104%;
  color: #171717;
  transition: 0.3s;
}
.feature__info {
  text-align: left;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 500;
  line-height: 168%;
  color: #171717;
  transition: 0.3s;
}
.feature__address {
  text-align: left;
  margin-bottom: 15px;
  transition: 0.3s;
}
.feature__address img {
  transform: translateY(3.5px);
}
.feature__address span {
  font-size: 16px;
  line-height: 168%;
  color: #171717;
}
.feature__price {
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  line-height: 104%;
  color: #3d5ddb;
  transition: 0.3s;
}
.feature__companies {
  margin-top: 120px;
  margin-bottom: 189.55px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 70px;
  width: 1300px;
}
.buttons {
  transition: 0.3s;
  background: #171717;
  width: 162px;
  height: 54px;
  text-align: center;
  padding-top: 10px;
}
.buttons span {
  transition: 0.3s;
  font-size: 18px;
  line-height: 168%;
  color: #fff;
}
.buttons:active {
  transition: 0.3s;
  position: relative;
  top: 2px;
}