@charset "UTF-8";
/*Обнуление*/
@import url("/css/nullstyle.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body {
  position: relative;
  width: 1440px;
  height: 5849px;
  font-family: "Roboto", sans-serif;
  background: #FFFFFF;
}

.header__body {
  width: 1865px;
  background-color: #3D5DDB;
  padding-bottom: 36px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header__menu {
  position: relative;
  padding-top: 34px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}
.header__menu li span {
  margin-right: 24px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  font-weight: 300;
  transition: 0.3s;
  border-bottom: 2.5px solid #3D5DDB;
}
.header__menu li span:hover {
  border-bottom: 2.5px solid #FFFFFF;
  transition: 0.3s;
  padding-bottom: 5px;
}
.header__menu img {
  transition: 0.3s;
  border-bottom: 2.5px solid #3D5DDB;
  padding-bottom: 5px;
}
.header__menu img:hover {
  border-bottom: 2.5px solid #FFFFFF;
  transition: 0.3s;
}
.discover {
  width: 1865px;
  background-color: #3D5DDB;
  color: #FFFFFF;
  height: 849px;
}
.discover__title {
  padding-top: 122px;
  margin-left: 150px;
  margin-bottom: 42px;
  font-size: 85px;
  font-weight: 700;
  line-height: 104%;
  color: #fff;
}
.discover__subtitle {
  margin-left: 150px;
  margin-bottom: 42px;
  font-size: 18px;
  line-height: 168%;
  color: #fff;
  width: 393px;
}
.discover__button {
  margin-left: 150px;
}
.discover__button:hover {
  transition: 0.3s;
  background-color: #FFFFFF;
}
.discover__button:hover span {
  transition: 0.3s;
  color: #171717;
}
.discover__image {
  transform: translate(1100px, -750px);
}

.experience__body {
  margin-left: 150px;
}
.experience__body-up {
  display: flex;
  margin-top: 173px;
  margin-bottom: 130px;
}
.experience__body-up-right {
  margin-top: 73px;
  margin-left: 298px;
}
.experience__title {
  margin-bottom: 35px;
  font-size: 70px;
  font-weight: 700;
  line-height: 106%;
  color: #171717;
}
.experience__subtitle {
  margin-bottom: 38px;
  font-size: 18px;
  line-height: 168%;
  color: #171717;
  width: 487px;
}
.experience__button:hover {
  transition: 0.3s;
  background-color: #3D5DDB;
}
.experience__video-body {
  width: 1439px;
  height: 827px;
  background-color: rgba(23, 23, 23, 0.05);
  background: url("/img/bg1.png") no-repeat;
}
.experience__video-button {
  transition: 0.3s;
  width: 165px;
  height: 165px;
  text-align: center;
  transform: translate(654px, 345px);
}
.experience__video-button .arrowbg {
  transition: 0.3s;
}
.experience__video-button .arrow {
  transition: 0.3s;
  transform: translate(5px, -105px);
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(202deg) brightness(103%) contrast(101%);
}
.experience__video-button:hover {
  transition: 0.3s;
}
.experience__video-button:hover .arrowbg {
  transition: 0.3s;
  filter: invert(36%) sepia(94%) saturate(3347%) hue-rotate(220deg) brightness(88%) contrast(94%);
}
.experience__video-button:hover .arrow {
  transition: 0.3s;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(117deg) brightness(104%) contrast(104%);
}
.experience__video-button:active .arrowbg {
  transition: 0.3s;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(117deg) brightness(104%) contrast(104%);
}
.experience__video-button:active .arrow {
  transition: 0.3s;
  filter: none;
}

.feature {
  margin-top: 110px;
}
.feature__body {
  margin-left: 150px;
}
.feature__title {
  margin-left: 70px;
  margin-bottom: 56px;
  font-size: 70px;
  font-weight: 700;
  line-height: 106%;
  color: #171717;
  transition: 0.3s;
}
.feature__columns {
  text-align: center;
  width: 1500px;
  display: flex;
  justify-content: space-around;
  transition: 0.3s;
}
.feature__lists {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}
.feature__lists:hover {
  transition: 0.3s;
}
.feature__lists:hover .feature__image:nth-child(1) {
  transition: 0.3s;
  transform: scale(1.1);
}
.feature__lists:hover .feature__name {
  transition: 0.3s;
  transform: scale(1.1);
}
.feature__image {
  transition: 0.3s;
}
.feature__name {
  text-align: left;
  margin-top: 32px;
  margin-bottom: 18px;
  font-size: 32px;
  font-weight: 700;
  line-height: 104%;
  color: #171717;
  transition: 0.3s;
}
.feature__info {
  text-align: left;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 500;
  line-height: 168%;
  color: #171717;
  transition: 0.3s;
}
.feature__address {
  text-align: left;
  margin-bottom: 15px;
  transition: 0.3s;
  width: 356.63px;
}
.feature__address img {
  transform: translateY(3.5px);
  transition: 0.3s;
}
.feature__address span {
  font-size: 16px;
  line-height: 168%;
  color: #171717;
}
.feature__address:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.feature__price {
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  line-height: 104%;
  color: #3d5ddb;
  transition: 0.3s;
  border: 1px solid #FFFFFF;
}
.feature__price:hover {
  transition: 0.3s;
  transform: scale(1.1);
  background-color: #3D5DDB;
}
.feature__price:hover span {
  color: #FFFFFF;
}
.feature__companies {
  margin-top: 120px;
  margin-bottom: 189.55px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 70px;
  width: 1300px;
}
.feature__price1 {
  width: 135px;
  height: 30px;
  border-radius: 5px;
}
.feature__price2 {
  width: 135px;
  height: 30px;
  border-radius: 5px;
}
.feature__price3 {
  width: 135px;
  height: 30px;
  border-radius: 5px;
}
.clients {
  margin-top: 189.55px;
  margin-bottom: 120px;
}
.clients__body {
  margin-left: 150px;
}
.clients__up {
  display: flex;
}
.clients__up-title {
  font-size: 70px;
  font-weight: 700;
  line-height: 106%;
  color: #171717;
  margin-bottom: 100px;
}
.clients__up-arrows {
  margin-left: 234px;
  margin-bottom: 109px;
}
.clients__up-arrows img {
  margin-right: 30px;
  transition: 0.3s;
}
.clients__up-arrows img:hover {
  transition: 0.3s;
  transform: scale(0.8);
  opacity: 50%;
}
.clients__bot {
  display: flex;
}
.clients__kemal {
  margin-right: 29px;
}
.clients__dots {
  margin-bottom: 32px;
}
.clients__title {
  margin-bottom: 32px;
  width: 557px;
}
.clients__subtitle {
  margin-bottom: 38px;
}
.clients__profile {
  display: flex;
  width: 350px;
  transition: 0.3s;
}
.clients__profile:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.clients__profile-pic {
  width: 70px;
  height: 70px;
}
.clients__profile-name {
  margin-left: 18px;
}
.clients__profile-pos {
  transform: translate(-147.5px, 30px);
}
.partners {
  margin-top: 120px;
}
.partners__body {
  display: flex;
}
.partners__left-body {
  width: 1097px;
  height: 623px;
  background: #F7F7F7;
}
.partners__left-title {
  position: relative;
  top: 120px;
  left: 152px;
  width: 557px;
  height: 222px;
  font-size: 70px;
  font-weight: 700;
  line-height: 106%;
  color: #171717;
}
.partners__left-subtitle {
  position: relative;
  left: 152px;
  top: 148px;
  width: 518px;
  height: 120px;
  font-size: 18px;
  line-height: 168%;
  color: #171717;
}
.partners__right-body {
  position: relative;
  top: 100px;
  left: -255px;
  width: 608px;
  height: 673px;
  background-color: #3D5DDB;
}
.partners__right-content {
  padding-top: 65px;
  padding-left: 58px;
}
.partners__right-name input {
  padding-bottom: 12px;
}
.partners__right-email input {
  padding-bottom: 12px;
}
.partners__right-message p {
  margin-bottom: 132px;
}
.partners__right-button {
  transition: 0.3s;
  margin-top: 55px;
}
.partners__right-button:hover {
  transition: 0.3s;
  background-color: #FFFFFF;
}
.partners__right-button:hover span {
  transition: 0.3s;
  color: #171717;
}

.buttons {
  transition: 0.3s;
  background: #171717;
  width: 162px;
  height: 54px;
  text-align: center;
  padding-top: 11px;
}
.buttons span {
  transition: 0.3s;
  font-size: 18px;
  line-height: 168%;
  color: #fff;
}
.buttons:active {
  transition: 0.3s;
  position: relative;
  top: 2px;
}

.clients-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 106%;
  color: #171717;
}

.clients-subtitle {
  font-size: 18px;
  line-height: 168%;
  color: #171717;
  width: 491px;
}

.clients-name {
  font-size: 24px;
  font-weight: 500;
  line-height: 106%;
  color: #171717;
}

.clients-pos {
  font-size: 16px;
  line-height: 168%;
  color: #171717;
}

.partners-input p {
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 700;
  line-height: 106%;
  color: #fff;
}
.partners-input input {
  transition: 0.3s;
  margin-bottom: 32px;
  background-color: #3D5DDB;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 18px;
  line-height: 168%;
  color: rgba(255, 255, 255, 0.8);
  width: 508px;
}
.partners-input input::-moz-placeholder {
  -moz-transition: 0.3s;
  transition: 0.3s;
  font-size: 18px;
  line-height: 168%;
  color: rgba(255, 255, 255, 0.8);
}
.partners-input input:-ms-input-placeholder {
  -ms-transition: 0.3s;
  transition: 0.3s;
  font-size: 18px;
  line-height: 168%;
  color: rgba(255, 255, 255, 0.8);
}
.partners-input input::placeholder {
  transition: 0.3s;
  font-size: 18px;
  line-height: 168%;
  color: rgba(255, 255, 255, 0.8);
}
.partners-input input:hover {
  transition: 0.3s;
}
.partners-input input:hover::-moz-placeholder {
  -moz-transition: 0.3s;
  transition: 0.3s;
  color: #FFFFFF;
}
.partners-input input:hover:-ms-input-placeholder {
  -ms-transition: 0.3s;
  transition: 0.3s;
  color: #FFFFFF;
}
.partners-input input:hover::placeholder {
  transition: 0.3s;
  color: #FFFFFF;
}