@charset "UTF-8";
/*Обнуление*/
@import url("/css/nullstyle.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body {
  position: relative;
  width: 1440px;
  height: 5849px;
  font-family: "Roboto", sans-serif;
  background: #FFFFFF;
}

.header__body {
  width: 1865px;
  background-color: #3D5DDB;
  padding-bottom: 36px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header__menu {
  padding-top: 34px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__menu li span {
  margin-right: 24px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  font-weight: 300;
  transition: 0.3s;
  border-bottom: 2.5px solid #3D5DDB;
}
.header__menu li span:hover {
  border-bottom: 2.5px solid #FFFFFF;
  transition: 0.3s;
  padding-bottom: 5px;
}
.header__menu img {
  transition: 0.3s;
  border-bottom: 2.5px solid #3D5DDB;
  padding-bottom: 5px;
}
.header__menu img:hover {
  border-bottom: 2.5px solid #FFFFFF;
  transition: 0.3s;
}
.discover {
  width: 1865px;
  background-color: #3D5DDB;
  color: #FFFFFF;
  height: 849px;
}
.discover__title {
  padding-top: 122px;
  margin-left: 150px;
  margin-bottom: 42px;
  font-size: 85px;
  font-weight: 700;
  line-height: 104%;
  color: #fff;
}
.discover__subtitle {
  margin-left: 150px;
  margin-bottom: 42px;
  font-size: 18px;
  line-height: 168%;
  color: #fff;
  width: 393px;
}
.discover__button {
  transition: 0.3s;
  margin-left: 150px;
  background: #171717;
  width: 162px;
  height: 54px;
  text-align: center;
  padding-top: 10px;
}
.discover__button span {
  transition: 0.3s;
  font-size: 18px;
  line-height: 168%;
  color: #fff;
}
.discover__button:hover {
  transition: 0.3s;
  background-color: #FFFFFF;
}
.discover__button:hover span {
  transition: 0.3s;
  color: #171717;
}
.discover__button:active {
  transition: 0.3s;
  position: relative;
  top: 2px;
}
.discover__image {
  transform: translate(1100px, -750px);
}