/*Обнуление*/
@import url('/css/nullstyle.css');

//* Импорт
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//* Шаблоны
$color1: #3D5DDB;
$color2: #FFFFFF;
$color3: #171717;
$color4: #E8E8E8;
$color5: #262161;

html, body{
    position: relative;
    width: 1440px;
    height: 5849px;
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
}

//* Header
.header {

    &__body {
        width: 1865px;
        background-color: $color1;
        padding-bottom: 36px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
    }

    &__menu {
        padding-top: 34px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li{
            span{
                margin-right: 24px;
                font-size: 20px;
                font-weight: 500;
                color: #fff;
                font-weight: 300;
                transition: 0.3s;
                border-bottom: 2.5px solid $color1;
                
                &:hover{
                    border-bottom: 2.5px solid $color2;
                    transition: 0.3s;
                    padding-bottom: 5px;
                }
            }
        }

        img{
            transition: 0.3s;
            border-bottom: 2.5px solid $color1;
            padding-bottom: 5px;

            &:hover{
                border-bottom: 2.5px solid $color2;
                transition: 0.3s;
            }
        }
    }

    &__list {
    }
}

//* Discover
.discover {

    &__body {
    }

    &__title {
    }

    &__subtitle {
    }

    &__button {
    }

    &__image {
    }
}

//* Footer