/*Обнуление*/
@import url('/css/nullstyle.css');

//* Импорт
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//* Шаблоны
$color1: #3D5DDB;
$color2: #FFFFFF;
$color3: #171717;
$color4: #E8E8E8;
$color5: #262161;

$bd1: 1px solid red;

html, body{
    position: relative;
    width: 1440px;
    height: 5849px;
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
}

//* Header
.header {

    &__body {
        width: 1865px;
        background-color: $color1;
        padding-bottom: 36px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
    }

    &__menu {
        position: relative;
        padding-top: 34px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 100;

        li{
            span{
                margin-right: 24px;
                font-size: 20px;
                font-weight: 500;
                color: #fff;
                font-weight: 300;
                transition: 0.3s;
                border-bottom: 2.5px solid $color1;
                
                &:hover{
                    border-bottom: 2.5px solid $color2;
                    transition: 0.3s;
                    padding-bottom: 5px;
                }
            }
        }

        img{
            transition: 0.3s;
            border-bottom: 2.5px solid $color1;
            padding-bottom: 5px;

            &:hover{
                border-bottom: 2.5px solid $color2;
                transition: 0.3s;
            }
        }
    }

    &__list {
    }
}

//* Discover
.discover {
    width: 1865px;
    background-color: $color1;
    color: $color2;
    height: 849px;

    &__body {
    }

    &__title {
        padding-top: 122px;
        margin-left: 150px;
        margin-bottom: 42px;
        font-size: 85px;
        font-weight: 700;
        line-height: 104%;
        color: #fff;
    }

    &__subtitle {
        margin-left: 150px;
        margin-bottom: 42px;
        font-size: 18px;
        line-height: 168%;
        color: #fff;
        width: 393px;
    }
    
    &__button{
        margin-left: 150px;

        &:hover{
            transition: 0.3s;
            background-color: $color2;
            
            span{
                transition: 0.3s;
                color: $color3;
            }
        }
    }

    &__image {
        transform: translate(1100px,-750px);
    }
}

//* Experience
.experience {

    &__body {
        margin-left: 150px;
    }

    &__body-up {
        display: flex;
        margin-top: 173px;
        margin-bottom: 130px;
    }

    &__body-up-left{
    }

    &__body-up-right{
        margin-top: 73px;
        margin-left: 298px;
    }

    &__avatar {
    }

    &__title {
        margin-bottom: 35px;
        font-size: 70px;
        font-weight: 700;
        line-height: 106%;
        color: #171717;
    }

    &__subtitle {
        margin-bottom: 38px;
        font-size: 18px;
        line-height: 168%;
        color: #171717;
        width: 487px;
    }

    &__button {

        &:hover{
            transition: 0.3s;
            background-color: $color1;
        }
    }

    &__video {
    }

    &__video-body {
        width: 1439px;
        height: 827px;
        background-color: rgba(23, 23, 23, 0.05);
        background: url('/img/bg1.png') no-repeat;
    }

    &__video-button {
        transition: 0.3s;
        width: 165px;
        height: 165px;
        text-align: center;
        transform: translate(654px,345px);

        .arrowbg {
            transition: 0.3s;
        }
    
        .arrow {
            transition: 0.3s;
            transform: translate(5px,-105px);
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(202deg) brightness(103%) contrast(101%);
        }

        &:hover{
            transition: 0.3s;

            .arrowbg{
                transition: 0.3s;
                filter: invert(36%) sepia(94%) saturate(3347%) hue-rotate(220deg) brightness(88%) contrast(94%);
            }

            .arrow{
                transition: 0.3s;
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(117deg) brightness(104%) contrast(104%);
            }
        }

        &:active{
            .arrowbg{
                transition: 0.3s;
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(117deg) brightness(104%) contrast(104%);
            }

            .arrow{
                transition: 0.3s;
                filter: none;
            }
        }
    }    
}

//* Feature
.feature {
    margin-top: 110px;

    &__body {
        margin-left: 150px;
    }

    &__title {
        margin-left: 70px;
        margin-bottom: 56px;
        font-size: 70px;
        font-weight: 700;
        line-height: 106%;
        color: #171717;
        transition: 0.3s;
    }

    &__columns {
        text-align: center;
        width: 1500px;
        display: flex;
        justify-content: space-around;
        transition: 0.3s;

    }
    
    &__lists{
        display: flex;
        flex-direction: column;
        transition: 0.3s;

        &:hover{
            transition: 0.3s;

            .feature__image{
                &:nth-child(1){
                    transition: 0.3s;
                    transform: scale(1.1);
                }
            }

            .feature__name{
                transition: 0.3s;
                transform: scale(1.1);
            }
        }
    }

    &__image {
        transition: 0.3s;
    }
    
    &__name {
        text-align: left;
        margin-top: 32px;
        margin-bottom: 18px;
        font-size: 32px;
        font-weight: 700;
        line-height: 104%;
        color: #171717;
        transition: 0.3s;
    }
    
    &__info {
        text-align: left;
        margin-bottom: 4px;
        font-size: 18px;
        font-weight: 500;
        line-height: 168%;
        color: #171717;
        transition: 0.3s;
    }
    
    &__address {
        text-align: left;
        margin-bottom: 15px;
        transition: 0.3s;
        width: 356.63px;

        img{
            transform: translateY(3.5px);
            transition: 0.3s;
        }

        span{
            font-size: 16px;
            line-height: 168%;
            color: #171717;
        }

        &:hover{
            transition: 0.3s;
            transform: scale(1.1);
        }
    }
    
    &__price {
        text-align: left;
        font-size: 28px;
        font-weight: 700;
        line-height: 104%;
        color: #3d5ddb;
        transition: 0.3s;
        border: 1px solid $color2;

        &:hover{
            transition: 0.3s;
            transform: scale(1.1);
            background-color: $color1;

            span{
                color: $color2;
            }
        }
    }

    &__companies {
        margin-top: 120px;
        margin-bottom: 189.55px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        margin-left: 70px;
        width: 1300px;
    }
    
    &__companies-list {
    }

    &__lists1 {
    }

    &__image1 {
    }

    &__name1 {
    }

    &__info1 {
    }

    &__address1 {
    }

    &__price1 {
        width: 135px;
        height: 30px;
        border-radius: 5px;
    }

    &__lists2 {
    }

    &__image2 {
    }

    &__name2 {
    }

    &__info2 {
    }

    &__address2 {
    }

    &__price2 {
        width: 135px;
        height: 30px;
        border-radius: 5px;
    }

    &__lists3 {
    }

    &__image3 {
    }

    &__name3 {
    }

    &__info3 {
    }

    &__address3 {
    }

    &__price3 {
        width: 135px;
        height: 30px;
        border-radius: 5px;
    }

    &__companies-list1 {
    }

    &__companies-list2 {
    }

    &__companies-list3 {
    }

    &__companies-list4 {
    }

    &__companies-list5 {
    }
}

//* Clients
.clients {
    margin-top: 189.55px;
    margin-bottom: 120px;

    &__body {
        margin-left: 150px;
    }

    &__up {
        display: flex;
    }

    &__up-title {
        font-size: 70px;
        font-weight: 700;
        line-height: 106%;
        color: #171717;
        margin-bottom: 100px;
    }

    &__up-arrows {
        margin-left: 234px;
        margin-bottom: 109px;

        img{
            margin-right: 30px;
            transition: 0.3s;

            &:hover{
                transition: 0.3s;
                transform: scale(0.8);
                opacity: 50%;
            }
        }
    }

    &__bot {
        display: flex;
    }

    &__kemal {
        margin-right: 29px;
    }

    &__dots {
        margin-bottom: 32px;
    }

    &__title {
        margin-bottom: 32px;
        width: 557px;
    }

    &__subtitle {
        margin-bottom: 38px;
    }

    &__profile {
        display: flex;
        width: 350px;
        transition: 0.3s;
        
        &:hover{
            transition: 0.3s;
            transform: scale(1.1);
        }
    }

    &__profile-pic {
        width: 70px;
        height: 70px;
    }

    &__profile-name {
        margin-left: 18px;
    }

    &__profile-pos {
        transform: translate(-147.5px,30px);
    }

    &__steve {
    }
}

//* Partners
.partners {
    margin-top: 120px;

    &__body {
        display: flex;
    }

    &__left {
    }

    &__left-body {
        width: 1097px;
        height: 623px;
        background: #F7F7F7;
    }

    &__left-title {
        position: relative;
        top: 120px;
        left: 152px;
        width: 557px;
        height: 222px;
        font-size: 70px;
        font-weight: 700;
        line-height: 106%;
        color: #171717;
    }

    &__left-subtitle {
        position: relative;
        left: 152px;
        top: 148px;
        width: 518px;
        height: 120px;
        font-size: 18px;
        line-height: 168%;
        color: #171717;
    }

    &__right {
    }

    &__right-body {
        position: relative;
        top: 100px;
        left: -255px;
        width: 608px;
        height: 673px;
        background-color: $color1;
    }

    &__right-content{
        padding-top: 65px;
        padding-left: 58px;
    }

    &__right-name {
        input{
            padding-bottom: 12px;
        }
    }

    &__right-email {
        input{
            padding-bottom: 12px;
        }
    }

    &__right-message {
        p{
            margin-bottom: 132px;
        }
    }

    &__right-button {
        transition: 0.3s;
        margin-top: 55px;

        &:hover{
            transition: 0.3s;
            background-color: $color2;

            span{
                transition: 0.3s;
                color: $color3;
            }
        }
    }
}

//* Footer
.footer {
    width: 1865px;
    margin-top: 220px;
    margin-left: 150px;
    padding-bottom: 100px;

    &__body {
        display: flex;
    }

    &__left {
    }

    &__title {
        font-size: 55px;
        font-weight: 700;
        line-height: 106%;
        color: #171717;
        margin-bottom: 24px;
    }

    &__copy {
        font-size: 18px;
        line-height: 168%;
        color: #171717;
        margin-bottom: 24px;
    }

    &__ortiz {
        transition: 0.3s;

        img{
            width: 75px;
            height: 75px;
            transition: 0.3s;
        }
        
        p{
            display: inline;
            position: relative;
            top: 30px;
            left: 15px;
            font-size: 25px;
            font-weight: 700;
            line-height: 106%;
            color: #171717;
            transition: 0.3s;
        }

        &:hover{
            transition: 0.3s;
            transform: scale(1.05);
        }
    }

    &__right {
    }

    &__info {
    }

    &__columns {
        margin-left: 254px;
        width: 530px;
        display: flex;
        justify-content: space-between;
    }

    &__list-title {
        margin-bottom: 42px;
    }

    &__link {
    }

    &__list-service {
        width: 81px;
        height: 220px;
        transition: 0.3s;

        a{
            span{
                transition: 0.3s;
                font-size: 20px;
                color: #171717;
                line-height: 39px;

                &:hover{
                    transition: 0.3s;
                    font-size: 23px;
                }
            }
        }
    }   

    &__list-contact {
        width: 155px;
        height: 208px;
        transition: 0.3s;

        span{
            transition: 0.3s;
            font-size: 16px;
            color: #171717;
            line-height: 39px;
        }

        a{
            span{
                &:hover{
                    transition: 0.3s;
                    font-size: 19px;
                }
            }
        }
        
    }

    &__list-social {
        width: 90px;
        height: 220px;
        transition: 0.3s;

        a{
            span{
                transition: 0.3s;
                font-size: 20px;
                color: #171717;
                line-height: 39px;

                &:hover{
                    transition: 0.3s;
                    font-size: 23px;
                }
            }
        }
    }
}


// * Общие классы
.buttons {
    transition: 0.3s;
    background: $color3;
    width: 162px;
    height: 54px;
    text-align: center;
    padding-top: 11px;

    span{
        transition: 0.3s;
        font-size: 18px;
        line-height: 168%;
        color: #fff;
    }

    &:active{
        transition: 0.3s;
        position: relative;
        top: 2px;
    }
}

.clients-title{
    font-size: 38px;
    font-weight: 500;
    line-height: 106%;
    color: #171717;
}

.clients-subtitle{
    font-size: 18px;
    line-height: 168%;
    color: #171717;
    width: 491px;
}

.clients-name{
    font-size: 24px;
    font-weight: 500;
    line-height: 106%;
    color: #171717;
}

.clients-pos{
    font-size: 16px;
    line-height: 168%;
    color: #171717;
}

.partners-input{
    p{
        margin-bottom: 32px;
        font-size: 32px;
        font-weight: 700;
        line-height: 106%;
        color: #fff;
    }

    input{
        transition: 0.3s;
        margin-bottom: 32px;
        background-color: $color1;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 18px;
        line-height: 168%;
        color: rgba(255, 255, 255, 0.8);
        width: 508px;

        &::placeholder{
            transition: 0.3s;
            font-size: 18px;
            line-height: 168%;
            color: rgba(255, 255, 255, 0.8);
        }

        &:hover{
            transition: 0.3s;

            &::placeholder{
                transition: 0.3s;
                color: $color2;
            }
        }
    }
}

.footer__list{
    display: inline-block;
    align-items: center;
    
    p{
        font-size: 32px;
        font-weight: 700;
        line-height: 106%;
        color: #171717;
    }
}